CDESites/TCGA/SiteSpecific/TCGA.Web/Schema/CDESchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CDESchema" xmlns:cde="http://www.example.org/CDESchema">

  <annotation>
    <documentation>
      <!-- 
		$Rev: 39 $
		$Author: bryanp $		
		-->
      Defines the schema of the XML elements of the CDE.
      $Date: 2010-07-13 13:40:15 -0400 (Tue, 13 Jul 2010) $
      Version .3

    </documentation>
  </annotation>

  <complexType name="genericFileInstruction">
    <annotation>
      <documentation>Defines the schema for a file instruction xml file for the CDE.  In order to allow files to have pretty urls and be indexed by the search engine, there needs to be a record of that item in the file system.  This is that record.</documentation>
    </annotation>
    <all>
      <element name="MimeType" type="string" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>Multipurpose Internet Mail Extensions</documentation>
        </annotation>
      </element>
      <element name="ContentItemInfo" type="cde:contentItemInfo" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>The information of the content item this Assembly Item represents</documentation>
        </annotation>
      </element>
      <element name="SearchMetadata" type="cde:searchMetadata" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>Defines metadata for this Assembly Instruction used for searching</documentation>
        </annotation>
      </element>
      <element name="PageMetadata" type="cde:pageMetadata"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The Metadata of the Single Page Assembly
            Instruction
          </documentation>
        </annotation>
      </element>
      <element name="ContentDates" type="cde:contentDates" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The dates for this File Instructions.</documentation>
        </annotation>
      </element>
      <element name="PrettyUrl" type="cde:path" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The primary pretty (friendly) url of the File Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="FilePath" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The actual file path of the file on the web site.
          </documentation>
        </annotation>
      </element>
      <element name="SectionPath" type="cde:path" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The path of all of the parent folders of the
            Single Page Assembly Instruction. E.G. If the
            PrettyUrl of this Single Page Assembly Info is
            '/folder1/folder2/page1' then the SectionPath
            should be '/folder1/folder2'.

            The CDE uses this information to find the
            Section Details for the section this Single Page
            Assembly Instruction belongs to.

            While this might seem obvious, certain Single
            Page Assembly Instruction will be the default
            page for a folder (much like index.html), and
            thier PrettyUrl will be the same as the
            SectionPath.

            Furthermore, the url structure of the site may
            not map one to one with the folder structure.
          </documentation>
        </annotation>
      </element>
      <element name="Language" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines the ISO 639-1 code for the Single Page
            Assembly Instruction.
          </documentation>
        </annotation>
        <simpleType>
          <annotation>
            <documentation>
              One of the possible two character ISO 639-1
              language codes as defined at
              http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
            </documentation>
          </annotation>
          <restriction base="string">
            <enumeration value="ab"></enumeration>
            <enumeration value="aa"></enumeration>
            <enumeration value="af"></enumeration>
            <enumeration value="ak"></enumeration>
            <enumeration value="sq"></enumeration>
            <enumeration value="am"></enumeration>
            <enumeration value="ar"></enumeration>
            <enumeration value="an"></enumeration>
            <enumeration value="hy"></enumeration>
            <enumeration value="as"></enumeration>
            <enumeration value="av"></enumeration>
            <enumeration value="ae"></enumeration>
            <enumeration value="ay"></enumeration>
            <enumeration value="az"></enumeration>
            <enumeration value="bm"></enumeration>
            <enumeration value="ba"></enumeration>
            <enumeration value="eu"></enumeration>
            <enumeration value="be"></enumeration>
            <enumeration value="bn"></enumeration>
            <enumeration value="bh"></enumeration>
            <enumeration value="bi"></enumeration>
            <enumeration value="bs"></enumeration>
            <enumeration value="br"></enumeration>
            <enumeration value="bg"></enumeration>
            <enumeration value="my"></enumeration>
            <enumeration value="ca"></enumeration>
            <enumeration value="ch"></enumeration>
            <enumeration value="ce"></enumeration>
            <enumeration value="ny"></enumeration>
            <enumeration value="zh"></enumeration>
            <enumeration value="cv"></enumeration>
            <enumeration value="kw"></enumeration>
            <enumeration value="co"></enumeration>
            <enumeration value="cr"></enumeration>
            <enumeration value="hr"></enumeration>
            <enumeration value="cs"></enumeration>
            <enumeration value="da"></enumeration>
            <enumeration value="dv"></enumeration>
            <enumeration value="nl"></enumeration>
            <enumeration value="dz"></enumeration>
            <enumeration value="en"></enumeration>
            <enumeration value="eo"></enumeration>
            <enumeration value="et"></enumeration>
            <enumeration value="ee"></enumeration>
            <enumeration value="fo"></enumeration>
            <enumeration value="fj"></enumeration>
            <enumeration value="fi"></enumeration>
            <enumeration value="fr"></enumeration>
            <enumeration value="ff"></enumeration>
            <enumeration value="gl"></enumeration>
            <enumeration value="ka"></enumeration>
            <enumeration value="de"></enumeration>
            <enumeration value="el"></enumeration>
            <enumeration value="gn"></enumeration>
            <enumeration value="gu"></enumeration>
            <enumeration value="ht"></enumeration>
            <enumeration value="ha"></enumeration>
            <enumeration value="he"></enumeration>
            <enumeration value="hz"></enumeration>
            <enumeration value="hi"></enumeration>
            <enumeration value="ho"></enumeration>
            <enumeration value="hu"></enumeration>
            <enumeration value="ia"></enumeration>
            <enumeration value="id"></enumeration>
            <enumeration value="ie"></enumeration>
            <enumeration value="ga"></enumeration>
            <enumeration value="ig"></enumeration>
            <enumeration value="ik"></enumeration>
            <enumeration value="io"></enumeration>
            <enumeration value="is"></enumeration>
            <enumeration value="it"></enumeration>
            <enumeration value="iu"></enumeration>
            <enumeration value="ja"></enumeration>
            <enumeration value="jv"></enumeration>
            <enumeration value="kl"></enumeration>
            <enumeration value="kn"></enumeration>
            <enumeration value="kr"></enumeration>
            <enumeration value="ks"></enumeration>
            <enumeration value="kk"></enumeration>
            <enumeration value="km"></enumeration>
            <enumeration value="ki"></enumeration>
            <enumeration value="rw"></enumeration>
            <enumeration value="ky"></enumeration>
            <enumeration value="kv"></enumeration>
            <enumeration value="kg"></enumeration>
            <enumeration value="ko"></enumeration>
            <enumeration value="ku"></enumeration>
            <enumeration value="kj"></enumeration>
            <enumeration value="la"></enumeration>
            <enumeration value="lb"></enumeration>
            <enumeration value="lg"></enumeration>
            <enumeration value="li"></enumeration>
            <enumeration value="ln"></enumeration>
            <enumeration value="lo"></enumeration>
            <enumeration value="lt"></enumeration>
            <enumeration value="lu"></enumeration>
            <enumeration value="lv"></enumeration>
            <enumeration value="gv"></enumeration>
            <enumeration value="mk"></enumeration>
            <enumeration value="mg"></enumeration>
            <enumeration value="ms"></enumeration>
            <enumeration value="ml"></enumeration>
            <enumeration value="mt"></enumeration>
            <enumeration value="mi"></enumeration>
            <enumeration value="mr"></enumeration>
            <enumeration value="mh"></enumeration>
            <enumeration value="mn"></enumeration>
            <enumeration value="na"></enumeration>
            <enumeration value="nv"></enumeration>
            <enumeration value="nb"></enumeration>
            <enumeration value="nd"></enumeration>
            <enumeration value="ne"></enumeration>
            <enumeration value="ng"></enumeration>
            <enumeration value="nn"></enumeration>
            <enumeration value="no"></enumeration>
            <enumeration value="ii"></enumeration>
            <enumeration value="nr"></enumeration>
            <enumeration value="oc"></enumeration>
            <enumeration value="oj"></enumeration>
            <enumeration value="cu"></enumeration>
            <enumeration value="om"></enumeration>
            <enumeration value="or"></enumeration>
            <enumeration value="os"></enumeration>
            <enumeration value="pa"></enumeration>
            <enumeration value="pi"></enumeration>
            <enumeration value="fa"></enumeration>
            <enumeration value="pl"></enumeration>
            <enumeration value="ps"></enumeration>
            <enumeration value="pt"></enumeration>
            <enumeration value="qu"></enumeration>
            <enumeration value="rm"></enumeration>
            <enumeration value="rn"></enumeration>
            <enumeration value="ro"></enumeration>
            <enumeration value="ru"></enumeration>
            <enumeration value="sa"></enumeration>
            <enumeration value="sc"></enumeration>
            <enumeration value="sd"></enumeration>
            <enumeration value="se"></enumeration>
            <enumeration value="sm"></enumeration>
            <enumeration value="sg"></enumeration>
            <enumeration value="sr"></enumeration>
            <enumeration value="gd"></enumeration>
            <enumeration value="sn"></enumeration>
            <enumeration value="si"></enumeration>
            <enumeration value="sk"></enumeration>
            <enumeration value="sl"></enumeration>
            <enumeration value="so"></enumeration>
            <enumeration value="st"></enumeration>
            <enumeration value="es"></enumeration>
            <enumeration value="su"></enumeration>
            <enumeration value="sw"></enumeration>
            <enumeration value="ss"></enumeration>
            <enumeration value="sv"></enumeration>
            <enumeration value="ta"></enumeration>
            <enumeration value="te"></enumeration>
            <enumeration value="tg"></enumeration>
            <enumeration value="th"></enumeration>
            <enumeration value="ti"></enumeration>
            <enumeration value="bo"></enumeration>
            <enumeration value="tk"></enumeration>
            <enumeration value="tl"></enumeration>
            <enumeration value="tn"></enumeration>
            <enumeration value="to"></enumeration>
            <enumeration value="tr"></enumeration>
            <enumeration value="ts"></enumeration>
            <enumeration value="tt"></enumeration>
            <enumeration value="tw"></enumeration>
            <enumeration value="ty"></enumeration>
            <enumeration value="ug"></enumeration>
            <enumeration value="uk"></enumeration>
            <enumeration value="ur"></enumeration>
            <enumeration value="uz"></enumeration>
            <enumeration value="ve"></enumeration>
            <enumeration value="vi"></enumeration>
            <enumeration value="vo"></enumeration>
            <enumeration value="wa"></enumeration>
            <enumeration value="cy"></enumeration>
            <enumeration value="wo"></enumeration>
            <enumeration value="fy"></enumeration>
            <enumeration value="xh"></enumeration>
            <enumeration value="yi"></enumeration>
            <enumeration value="yo"></enumeration>
            <enumeration value="za"></enumeration>
            <enumeration value="zu"></enumeration>
          </restriction>
        </simpleType>
      </element>
    </all>
  </complexType>
  <element name="GenericFileInstruction" type="cde:genericFileInstruction">
    <annotation>
      <documentation>Represents a File Instruction published from Percussion.</documentation>
    </annotation>
  </element>

  <complexType name="MultiPageAssemblyInstruction">
    <annotation>
      <documentation>
        Base for the different types of PageAssemblyInfo types.
      </documentation>
    </annotation>
    <all>
      <element name="ContentItemInfo" type="cde:contentItemInfo" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>The information of the content item this Assembly Item represents</documentation>
        </annotation>
      </element>
      <element name="SearchMetadata" type="cde:searchMetadata" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>Defines metadata for this Assembly Instruction used for searching</documentation>
        </annotation>
      </element>
      <element name="PageTemplateName" type="cde:path"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines the name of the CDE page template for
            the Single Page Assembly Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="PrettyUrl" type="cde:path" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The primary pretty (friendly) url of the Single
            Page Assembly Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="SectionPath" type="cde:path" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The path of all of the parent folders of the
            Single Page Assembly Instruction. E.G. If the
            PrettyUrl of this Single Page Assembly Info is
            '/folder1/folder2/page1' then the SectionPath
            should be '/folder1/folder2'.

            The CDE uses this information to find the
            Section Details for the section this Single Page
            Assembly Instruction belongs to.

            While this might seem obvious, certain Single
            Page Assembly Instruction will be the default
            page for a folder (much like index.html), and
            thier PrettyUrl will be the same as the
            SectionPath.

            Furthermore, the url structure of the site may
            not map one to one with the folder structure.
          </documentation>
        </annotation>
      </element>
      <element name="PageMetadata" type="cde:pageMetadata"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The Metadata of the Single Page Assembly
            Instruction
          </documentation>
        </annotation>
      </element>
      <element name="ContentDates" type="cde:contentDates" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The dates for this MultiPage Container.</documentation>
        </annotation>
      </element>
      <element name="Snippets" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            A collection of all of the snippets for the
            Single Page Assembly Instruction published from
            Percussion.
          </documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>
              Defines a collection of one or more Snippets
              associated with this Single Page Assembly
              Instruction.
            </documentation>
          </annotation>
          <sequence>
            <element name="SnippetInfo"
              type="cde:snippetInfo" minOccurs="0" maxOccurs="unbounded">
              <annotation>
                <documentation>
                  A Snippet in the collection of
                  snippets associated with this Single
                  Page Assembly Instruction.
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="Pages" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            A collection of all of the snippets for the
            Single Page Assembly Instruction published from
            Percussion.
          </documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>
              Defines a collection of one or more Snippets
              associated with this Single Page Assembly
              Instruction.
            </documentation>
          </annotation>
          <sequence>
            <element name="Page"
              type="cde:Page" minOccurs="1" maxOccurs="unbounded">
              <annotation>
                <documentation>
                  A Snippet in the collection of
                  snippets associated with this Single
                  Page Assembly Instruction.
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="BlockedSlots" minOccurs="1" maxOccurs="1">
        <complexType>
          <sequence>
            <element name="Slot" minOccurs="0"
              maxOccurs="unbounded">
              <complexType>
                <attribute name="Name" type="string">
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="LocalFields" minOccurs="0">
        <complexType>
          <sequence>
            <element name="Field" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <simpleContent>
                  <extension base="string">
                    <attribute name="Name" form="unqualified" type="string" />
                  </extension>
                </simpleContent>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>

      <element name="Language" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines the ISO 639-1 code for the Single Page
            Assembly Instruction.
          </documentation>
        </annotation>
        <simpleType>
          <annotation>
            <documentation>
              One of the possible two character ISO 639-1
              language codes as defined at
              http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
            </documentation>
          </annotation>
          <restriction base="string">
            <enumeration value="ab"></enumeration>
            <enumeration value="aa"></enumeration>
            <enumeration value="af"></enumeration>
            <enumeration value="ak"></enumeration>
            <enumeration value="sq"></enumeration>
            <enumeration value="am"></enumeration>
            <enumeration value="ar"></enumeration>
            <enumeration value="an"></enumeration>
            <enumeration value="hy"></enumeration>
            <enumeration value="as"></enumeration>
            <enumeration value="av"></enumeration>
            <enumeration value="ae"></enumeration>
            <enumeration value="ay"></enumeration>
            <enumeration value="az"></enumeration>
            <enumeration value="bm"></enumeration>
            <enumeration value="ba"></enumeration>
            <enumeration value="eu"></enumeration>
            <enumeration value="be"></enumeration>
            <enumeration value="bn"></enumeration>
            <enumeration value="bh"></enumeration>
            <enumeration value="bi"></enumeration>
            <enumeration value="bs"></enumeration>
            <enumeration value="br"></enumeration>
            <enumeration value="bg"></enumeration>
            <enumeration value="my"></enumeration>
            <enumeration value="ca"></enumeration>
            <enumeration value="ch"></enumeration>
            <enumeration value="ce"></enumeration>
            <enumeration value="ny"></enumeration>
            <enumeration value="zh"></enumeration>
            <enumeration value="cv"></enumeration>
            <enumeration value="kw"></enumeration>
            <enumeration value="co"></enumeration>
            <enumeration value="cr"></enumeration>
            <enumeration value="hr"></enumeration>
            <enumeration value="cs"></enumeration>
            <enumeration value="da"></enumeration>
            <enumeration value="dv"></enumeration>
            <enumeration value="nl"></enumeration>
            <enumeration value="dz"></enumeration>
            <enumeration value="en"></enumeration>
            <enumeration value="eo"></enumeration>
            <enumeration value="et"></enumeration>
            <enumeration value="ee"></enumeration>
            <enumeration value="fo"></enumeration>
            <enumeration value="fj"></enumeration>
            <enumeration value="fi"></enumeration>
            <enumeration value="fr"></enumeration>
            <enumeration value="ff"></enumeration>
            <enumeration value="gl"></enumeration>
            <enumeration value="ka"></enumeration>
            <enumeration value="de"></enumeration>
            <enumeration value="el"></enumeration>
            <enumeration value="gn"></enumeration>
            <enumeration value="gu"></enumeration>
            <enumeration value="ht"></enumeration>
            <enumeration value="ha"></enumeration>
            <enumeration value="he"></enumeration>
            <enumeration value="hz"></enumeration>
            <enumeration value="hi"></enumeration>
            <enumeration value="ho"></enumeration>
            <enumeration value="hu"></enumeration>
            <enumeration value="ia"></enumeration>
            <enumeration value="id"></enumeration>
            <enumeration value="ie"></enumeration>
            <enumeration value="ga"></enumeration>
            <enumeration value="ig"></enumeration>
            <enumeration value="ik"></enumeration>
            <enumeration value="io"></enumeration>
            <enumeration value="is"></enumeration>
            <enumeration value="it"></enumeration>
            <enumeration value="iu"></enumeration>
            <enumeration value="ja"></enumeration>
            <enumeration value="jv"></enumeration>
            <enumeration value="kl"></enumeration>
            <enumeration value="kn"></enumeration>
            <enumeration value="kr"></enumeration>
            <enumeration value="ks"></enumeration>
            <enumeration value="kk"></enumeration>
            <enumeration value="km"></enumeration>
            <enumeration value="ki"></enumeration>
            <enumeration value="rw"></enumeration>
            <enumeration value="ky"></enumeration>
            <enumeration value="kv"></enumeration>
            <enumeration value="kg"></enumeration>
            <enumeration value="ko"></enumeration>
            <enumeration value="ku"></enumeration>
            <enumeration value="kj"></enumeration>
            <enumeration value="la"></enumeration>
            <enumeration value="lb"></enumeration>
            <enumeration value="lg"></enumeration>
            <enumeration value="li"></enumeration>
            <enumeration value="ln"></enumeration>
            <enumeration value="lo"></enumeration>
            <enumeration value="lt"></enumeration>
            <enumeration value="lu"></enumeration>
            <enumeration value="lv"></enumeration>
            <enumeration value="gv"></enumeration>
            <enumeration value="mk"></enumeration>
            <enumeration value="mg"></enumeration>
            <enumeration value="ms"></enumeration>
            <enumeration value="ml"></enumeration>
            <enumeration value="mt"></enumeration>
            <enumeration value="mi"></enumeration>
            <enumeration value="mr"></enumeration>
            <enumeration value="mh"></enumeration>
            <enumeration value="mn"></enumeration>
            <enumeration value="na"></enumeration>
            <enumeration value="nv"></enumeration>
            <enumeration value="nb"></enumeration>
            <enumeration value="nd"></enumeration>
            <enumeration value="ne"></enumeration>
            <enumeration value="ng"></enumeration>
            <enumeration value="nn"></enumeration>
            <enumeration value="no"></enumeration>
            <enumeration value="ii"></enumeration>
            <enumeration value="nr"></enumeration>
            <enumeration value="oc"></enumeration>
            <enumeration value="oj"></enumeration>
            <enumeration value="cu"></enumeration>
            <enumeration value="om"></enumeration>
            <enumeration value="or"></enumeration>
            <enumeration value="os"></enumeration>
            <enumeration value="pa"></enumeration>
            <enumeration value="pi"></enumeration>
            <enumeration value="fa"></enumeration>
            <enumeration value="pl"></enumeration>
            <enumeration value="ps"></enumeration>
            <enumeration value="pt"></enumeration>
            <enumeration value="qu"></enumeration>
            <enumeration value="rm"></enumeration>
            <enumeration value="rn"></enumeration>
            <enumeration value="ro"></enumeration>
            <enumeration value="ru"></enumeration>
            <enumeration value="sa"></enumeration>
            <enumeration value="sc"></enumeration>
            <enumeration value="sd"></enumeration>
            <enumeration value="se"></enumeration>
            <enumeration value="sm"></enumeration>
            <enumeration value="sg"></enumeration>
            <enumeration value="sr"></enumeration>
            <enumeration value="gd"></enumeration>
            <enumeration value="sn"></enumeration>
            <enumeration value="si"></enumeration>
            <enumeration value="sk"></enumeration>
            <enumeration value="sl"></enumeration>
            <enumeration value="so"></enumeration>
            <enumeration value="st"></enumeration>
            <enumeration value="es"></enumeration>
            <enumeration value="su"></enumeration>
            <enumeration value="sw"></enumeration>
            <enumeration value="ss"></enumeration>
            <enumeration value="sv"></enumeration>
            <enumeration value="ta"></enumeration>
            <enumeration value="te"></enumeration>
            <enumeration value="tg"></enumeration>
            <enumeration value="th"></enumeration>
            <enumeration value="ti"></enumeration>
            <enumeration value="bo"></enumeration>
            <enumeration value="tk"></enumeration>
            <enumeration value="tl"></enumeration>
            <enumeration value="tn"></enumeration>
            <enumeration value="to"></enumeration>
            <enumeration value="tr"></enumeration>
            <enumeration value="ts"></enumeration>
            <enumeration value="tt"></enumeration>
            <enumeration value="tw"></enumeration>
            <enumeration value="ty"></enumeration>
            <enumeration value="ug"></enumeration>
            <enumeration value="uk"></enumeration>
            <enumeration value="ur"></enumeration>
            <enumeration value="uz"></enumeration>
            <enumeration value="ve"></enumeration>
            <enumeration value="vi"></enumeration>
            <enumeration value="vo"></enumeration>
            <enumeration value="wa"></enumeration>
            <enumeration value="cy"></enumeration>
            <enumeration value="wo"></enumeration>
            <enumeration value="fy"></enumeration>
            <enumeration value="xh"></enumeration>
            <enumeration value="yi"></enumeration>
            <enumeration value="yo"></enumeration>
            <enumeration value="za"></enumeration>
            <enumeration value="zu"></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="AlternateContentVersions" type="cde:alternateContentVersions" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>Defines the alternate content versions for a Single Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="SocialMetadata" type="cde:socialMetadata" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>Defines the social metadata for a Single Page Assembly Instruction.</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <complexType name="singlePageAssemblyInstruction">
    <annotation>
      <documentation>
        Base for the different types of PageAssemblyInfo types.
      </documentation>
    </annotation>
    <all>
      <element name="ContentItemInfo" type="cde:contentItemInfo" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>The information of the content item this Assembly Item represents</documentation>
        </annotation>
      </element>
      <element name="SearchMetadata" type="cde:searchMetadata" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>Defines metadata for this Assembly Instruction used for searching</documentation>
        </annotation>
      </element>
      <element name="PageTemplateName" type="cde:path"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines the name of the CDE page template for
            the Single Page Assembly Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="PrettyUrl" type="cde:path" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The primary pretty (friendly) url of the Single
            Page Assembly Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="SectionPath" type="cde:path" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The path of all of the parent folders of the
            Single Page Assembly Instruction. E.G. If the
            PrettyUrl of this Single Page Assembly Info is
            '/folder1/folder2/page1' then the SectionPath
            should be '/folder1/folder2'.

            The CDE uses this information to find the
            Section Details for the section this Single Page
            Assembly Instruction belongs to.

            While this might seem obvious, certain Single
            Page Assembly Instruction will be the default
            page for a folder (much like index.html), and
            thier PrettyUrl will be the same as the
            SectionPath.

            Furthermore, the url structure of the site may
            not map one to one with the folder structure.
          </documentation>
        </annotation>
      </element>
      <element name="PageMetadata" type="cde:pageMetadata"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The Metadata of the Single Page Assembly
            Instruction
          </documentation>
        </annotation>
      </element>
      <element name="ContentDates" type="cde:contentDates" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The dates for this Single Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="Snippets" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            A collection of all of the snippets for the
            Single Page Assembly Instruction published from
            Percussion.
          </documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>
              Defines a collection of one or more Snippets
              associated with this Single Page Assembly
              Instruction.
            </documentation>
          </annotation>
          <sequence>
            <element name="SnippetInfo"
              type="cde:snippetInfo" minOccurs="1" maxOccurs="unbounded">
              <annotation>
                <documentation>
                  A Snippet in the collection of
                  snippets associated with this Single
                  Page Assembly Instruction.
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="BlockedSlots" minOccurs="1" maxOccurs="1">
        <complexType>
          <sequence>
            <element name="Slot" minOccurs="0"
              maxOccurs="unbounded">
              <complexType>
                <attribute name="Name" type="string">
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="LocalFields" minOccurs="0">
        <complexType>
          <sequence>
            <element name="Field" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <simpleContent>
                  <extension base="string">
                    <attribute name="Name" form="unqualified" type="string" />
                  </extension>
                </simpleContent>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="Language" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines the ISO 639-1 code for the Single Page
            Assembly Instruction.
          </documentation>
        </annotation>
        <simpleType>
          <annotation>
            <documentation>
              One of the possible two character ISO 639-1
              language codes as defined at
              http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
            </documentation>
          </annotation>
          <restriction base="string">
            <enumeration value="ab"></enumeration>
            <enumeration value="aa"></enumeration>
            <enumeration value="af"></enumeration>
            <enumeration value="ak"></enumeration>
            <enumeration value="sq"></enumeration>
            <enumeration value="am"></enumeration>
            <enumeration value="ar"></enumeration>
            <enumeration value="an"></enumeration>
            <enumeration value="hy"></enumeration>
            <enumeration value="as"></enumeration>
            <enumeration value="av"></enumeration>
            <enumeration value="ae"></enumeration>
            <enumeration value="ay"></enumeration>
            <enumeration value="az"></enumeration>
            <enumeration value="bm"></enumeration>
            <enumeration value="ba"></enumeration>
            <enumeration value="eu"></enumeration>
            <enumeration value="be"></enumeration>
            <enumeration value="bn"></enumeration>
            <enumeration value="bh"></enumeration>
            <enumeration value="bi"></enumeration>
            <enumeration value="bs"></enumeration>
            <enumeration value="br"></enumeration>
            <enumeration value="bg"></enumeration>
            <enumeration value="my"></enumeration>
            <enumeration value="ca"></enumeration>
            <enumeration value="ch"></enumeration>
            <enumeration value="ce"></enumeration>
            <enumeration value="ny"></enumeration>
            <enumeration value="zh"></enumeration>
            <enumeration value="cv"></enumeration>
            <enumeration value="kw"></enumeration>
            <enumeration value="co"></enumeration>
            <enumeration value="cr"></enumeration>
            <enumeration value="hr"></enumeration>
            <enumeration value="cs"></enumeration>
            <enumeration value="da"></enumeration>
            <enumeration value="dv"></enumeration>
            <enumeration value="nl"></enumeration>
            <enumeration value="dz"></enumeration>
            <enumeration value="en"></enumeration>
            <enumeration value="eo"></enumeration>
            <enumeration value="et"></enumeration>
            <enumeration value="ee"></enumeration>
            <enumeration value="fo"></enumeration>
            <enumeration value="fj"></enumeration>
            <enumeration value="fi"></enumeration>
            <enumeration value="fr"></enumeration>
            <enumeration value="ff"></enumeration>
            <enumeration value="gl"></enumeration>
            <enumeration value="ka"></enumeration>
            <enumeration value="de"></enumeration>
            <enumeration value="el"></enumeration>
            <enumeration value="gn"></enumeration>
            <enumeration value="gu"></enumeration>
            <enumeration value="ht"></enumeration>
            <enumeration value="ha"></enumeration>
            <enumeration value="he"></enumeration>
            <enumeration value="hz"></enumeration>
            <enumeration value="hi"></enumeration>
            <enumeration value="ho"></enumeration>
            <enumeration value="hu"></enumeration>
            <enumeration value="ia"></enumeration>
            <enumeration value="id"></enumeration>
            <enumeration value="ie"></enumeration>
            <enumeration value="ga"></enumeration>
            <enumeration value="ig"></enumeration>
            <enumeration value="ik"></enumeration>
            <enumeration value="io"></enumeration>
            <enumeration value="is"></enumeration>
            <enumeration value="it"></enumeration>
            <enumeration value="iu"></enumeration>
            <enumeration value="ja"></enumeration>
            <enumeration value="jv"></enumeration>
            <enumeration value="kl"></enumeration>
            <enumeration value="kn"></enumeration>
            <enumeration value="kr"></enumeration>
            <enumeration value="ks"></enumeration>
            <enumeration value="kk"></enumeration>
            <enumeration value="km"></enumeration>
            <enumeration value="ki"></enumeration>
            <enumeration value="rw"></enumeration>
            <enumeration value="ky"></enumeration>
            <enumeration value="kv"></enumeration>
            <enumeration value="kg"></enumeration>
            <enumeration value="ko"></enumeration>
            <enumeration value="ku"></enumeration>
            <enumeration value="kj"></enumeration>
            <enumeration value="la"></enumeration>
            <enumeration value="lb"></enumeration>
            <enumeration value="lg"></enumeration>
            <enumeration value="li"></enumeration>
            <enumeration value="ln"></enumeration>
            <enumeration value="lo"></enumeration>
            <enumeration value="lt"></enumeration>
            <enumeration value="lu"></enumeration>
            <enumeration value="lv"></enumeration>
            <enumeration value="gv"></enumeration>
            <enumeration value="mk"></enumeration>
            <enumeration value="mg"></enumeration>
            <enumeration value="ms"></enumeration>
            <enumeration value="ml"></enumeration>
            <enumeration value="mt"></enumeration>
            <enumeration value="mi"></enumeration>
            <enumeration value="mr"></enumeration>
            <enumeration value="mh"></enumeration>
            <enumeration value="mn"></enumeration>
            <enumeration value="na"></enumeration>
            <enumeration value="nv"></enumeration>
            <enumeration value="nb"></enumeration>
            <enumeration value="nd"></enumeration>
            <enumeration value="ne"></enumeration>
            <enumeration value="ng"></enumeration>
            <enumeration value="nn"></enumeration>
            <enumeration value="no"></enumeration>
            <enumeration value="ii"></enumeration>
            <enumeration value="nr"></enumeration>
            <enumeration value="oc"></enumeration>
            <enumeration value="oj"></enumeration>
            <enumeration value="cu"></enumeration>
            <enumeration value="om"></enumeration>
            <enumeration value="or"></enumeration>
            <enumeration value="os"></enumeration>
            <enumeration value="pa"></enumeration>
            <enumeration value="pi"></enumeration>
            <enumeration value="fa"></enumeration>
            <enumeration value="pl"></enumeration>
            <enumeration value="ps"></enumeration>
            <enumeration value="pt"></enumeration>
            <enumeration value="qu"></enumeration>
            <enumeration value="rm"></enumeration>
            <enumeration value="rn"></enumeration>
            <enumeration value="ro"></enumeration>
            <enumeration value="ru"></enumeration>
            <enumeration value="sa"></enumeration>
            <enumeration value="sc"></enumeration>
            <enumeration value="sd"></enumeration>
            <enumeration value="se"></enumeration>
            <enumeration value="sm"></enumeration>
            <enumeration value="sg"></enumeration>
            <enumeration value="sr"></enumeration>
            <enumeration value="gd"></enumeration>
            <enumeration value="sn"></enumeration>
            <enumeration value="si"></enumeration>
            <enumeration value="sk"></enumeration>
            <enumeration value="sl"></enumeration>
            <enumeration value="so"></enumeration>
            <enumeration value="st"></enumeration>
            <enumeration value="es"></enumeration>
            <enumeration value="su"></enumeration>
            <enumeration value="sw"></enumeration>
            <enumeration value="ss"></enumeration>
            <enumeration value="sv"></enumeration>
            <enumeration value="ta"></enumeration>
            <enumeration value="te"></enumeration>
            <enumeration value="tg"></enumeration>
            <enumeration value="th"></enumeration>
            <enumeration value="ti"></enumeration>
            <enumeration value="bo"></enumeration>
            <enumeration value="tk"></enumeration>
            <enumeration value="tl"></enumeration>
            <enumeration value="tn"></enumeration>
            <enumeration value="to"></enumeration>
            <enumeration value="tr"></enumeration>
            <enumeration value="ts"></enumeration>
            <enumeration value="tt"></enumeration>
            <enumeration value="tw"></enumeration>
            <enumeration value="ty"></enumeration>
            <enumeration value="ug"></enumeration>
            <enumeration value="uk"></enumeration>
            <enumeration value="ur"></enumeration>
            <enumeration value="uz"></enumeration>
            <enumeration value="ve"></enumeration>
            <enumeration value="vi"></enumeration>
            <enumeration value="vo"></enumeration>
            <enumeration value="wa"></enumeration>
            <enumeration value="cy"></enumeration>
            <enumeration value="wo"></enumeration>
            <enumeration value="fy"></enumeration>
            <enumeration value="xh"></enumeration>
            <enumeration value="yi"></enumeration>
            <enumeration value="yo"></enumeration>
            <enumeration value="za"></enumeration>
            <enumeration value="zu"></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="AlternateContentVersions" type="cde:alternateContentVersions" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>Defines the alternate content versions for a Single Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="SocialMetadata" type="cde:socialMetadata" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>Defines the social metadata for a Single Page Assembly Instruction.</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <simpleType name="path">
    <annotation>
      <documentation>The path to a file or url</documentation>
    </annotation>
    <restriction base="string">
      <whiteSpace value="collapse"/>
      <pattern value="\S+"></pattern>
    </restriction>
  </simpleType>

  <simpleType name="templateName">
    <annotation>
      <documentation>The name of a template.</documentation>
    </annotation>
    <restriction base="string">
      <pattern value="\S+"></pattern>
    </restriction>
  </simpleType>

  <complexType name="contentItemInfo">
    <annotation>
      <documentation>Defines information about the content item a Page Assembly Instruction represents.</documentation>
    </annotation>
    <all>
      <element name="ContentItemID" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The content ID of the content item for the Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="ContentItemType" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The content type of the content item for the Page Assembly Instruction.</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <complexType name="searchMetadata">
    <annotation>
      <documentation>Defines metadata for the Assembly Instruction used for searching</documentation>
    </annotation>
    <all>
      <element name="DoNotIndex" type="boolean" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>Defines if this Assembly Instruction should NOT be indexed by the search engine</documentation>
        </annotation>
      </element>
      <element name="SiteSpecificSearchMetadata" type="cde:siteSpecificSearchMetadata" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>Defines any site specific metadata for an Assembly Instruction to be used for searching</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <complexType name="siteSpecificSearchMetadata">
    <annotation>
      <documentation>Defines any site specific metadata for an Assembly Instruction to be used for searching.  Note: This is free form XML</documentation>
    </annotation>
    <sequence>
      <any minOccurs="0" maxOccurs="unbounded"></any>
    </sequence>
  </complexType>

  <complexType name="pageMetadata">
    <annotation>
      <documentation>Defines the Metadata for Page Assembly Instruction.</documentation>
    </annotation>
    <all>
      <element name="LongTitle" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The long title for the Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="ShortTitle" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>A short title for a Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="ShortDescription" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>A short description for a Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="LongDescription" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>A long description for a Page Assembly Instruction.</documentation>
        </annotation>
      </element>
      <element name="MetaDescription" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>A description for a Page Assembly Instruction which will be used for a HTML description meta tag.</documentation>
        </annotation>
      </element>
      <element name="MetaKeywords" type="string" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>A description for a Page Assembly Instruction which will be used for a HTML keywords meta tag.</documentation>
        </annotation>
      </element>
      <element name="AltLanguageURL" type="string" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>A description for a Page Assembly Instruction which will be used for a HTML keywords meta tag.</documentation>
        </annotation>
      </element>
      <element name="MobileURL" type="string" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>The url path of a page's mobile equivalent.</documentation>
        </annotation>
      </element>
      <element name="DesktopURL" type="string" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>The url path of a page's desktop equivalent.</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <complexType name="contentDates">
    <annotation>
      <documentation>Defines a collection of dates for a page published from Percussion.</documentation>
    </annotation>
    <all>
      <element name="FirstPublished" type="dateTime">
        <annotation>
          <documentation>The date the page was first published.</documentation>
        </annotation>
      </element>
      <element name="LastModified" type="dateTime">
        <annotation>
          <documentation>The date the page was last modified.</documentation>
        </annotation>
      </element>
      <element name="LastReviewed" type="dateTime">
        <annotation>
          <documentation>The date the page was last reviewed for content accuracy.</documentation>
        </annotation>
      </element>
      <element name="NextReview" type="dateTime">
        <annotation>
          <documentation>The date for the next review of content accuracy for this page.</documentation>
        </annotation>
      </element>
      <element name="DateDisplayMode" type="string">
        <annotation>
          <documentation>The dates to display for this page on the website.</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <element name="SinglePageAssemblyInstruction"
    type="cde:singlePageAssemblyInstruction">
    <annotation>
      <documentation>This element represents an instance of a Single Page Assembly Instruction published from Percussion. </documentation>
    </annotation>
  </element>

  <element name="MultiPageAssemblyInstruction"
    type="cde:MultiPageAssemblyInstruction">
    <annotation>
      <documentation>This element represents an instance of a Single Page Assembly Instruction published from Percussion. </documentation>
    </annotation>
  </element>

  <complexType name="snippetInfo">
    <annotation>
      <documentation>This represents a Snippet contained in a Page Assembly Instruction or Section Detail that is being published from Percussion.</documentation>
    </annotation>
    <all>
      <element name="SnippetTemplatePath" type="cde:path">
        <annotation>
          <documentation>The path to the CDE SnippetControl that will handle the rendering of this snippet.  This should begin with '~/SnippetTemplates/'</documentation>
        </annotation>
      </element>
      <element name="SlotName" type="cde:templateName">
        <annotation>
          <documentation>The name of the CDE slot this snippet should be placed into.  This should be derived from the name of the Percussion slot in the template.</documentation>
        </annotation>
      </element>
      <element name="Data" type="string">
        <annotation>
          <documentation>The data of the Snippet.  In most cases this will be a block of HTML.  The contents of this element must be wrapped in a CDATA tag.</documentation>
        </annotation>
      </element>
      <element name="ContentID" type="string">
        <annotation>
          <documentation>The ID of the content item from Percussion. This will be used for automated testing.</documentation>
        </annotation>
      </element>
      <element name="OnlyDisplayFor" minOccurs="0" maxOccurs="1">
        <complexType>
          <sequence>
            <element name="DisplayVersion" type="string" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType>

  <complexType name="Page">
    <annotation>
      <documentation>This represents a Snippet contained in a Page Assembly Instruction or Section Detail that is being published from Percussion.</documentation>
    </annotation>
    <all>
      <element name="PageTemplateName" type="cde:path"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines the name of the CDE page template for
            the Single Page Assembly Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="PrettyUrl" type="cde:path" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The primary pretty (friendly) url of the Single
            Page Assembly Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="PageMetadata" type="cde:pageMetadata"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The Metadata of the Single Page Assembly
            Instruction
          </documentation>
        </annotation>
      </element>
      <element name="Snippets" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            A collection of all of the snippets for the
            Single Page Assembly Instruction published from
            Percussion.
          </documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>
              Defines a collection of one or more Snippets
              associated with this Single Page Assembly
              Instruction.
            </documentation>
          </annotation>
          <sequence>
            <element name="SnippetInfo"
              type="cde:snippetInfo" minOccurs="1" maxOccurs="unbounded">
              <annotation>
                <documentation>
                  A Snippet in the collection of
                  snippets associated with this Single
                  Page Assembly Instruction.
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="BlockedSlots" minOccurs="1" maxOccurs="1">
        <complexType>
          <sequence>
            <element name="Slot" minOccurs="0"
              maxOccurs="unbounded">
              <complexType>
                <attribute name="Name" type="string">
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="LocalFields" minOccurs="0">
        <complexType>
          <sequence>
            <element name="Field" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <simpleContent>
                  <extension base="string">
                    <attribute name="Name" form="unqualified" type="string" />
                  </extension>
                </simpleContent>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType>

  <complexType name="sectionDetail">
    <annotation>
      <documentation>
        Defines the elements shared by pages in a section (folder) of the site.
      </documentation>
    </annotation>
    <all>
      <element name="SectionName" type="string" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The name of the section.
          </documentation>
        </annotation>
      </element>
      <element name="Snippets" minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The snippets for the section.
          </documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>Defines a collection of 0 or more Snippets associated with this Section Detail.</documentation>
          </annotation>
          <sequence>
            <element name="SnippetInfo" type="cde:snippetInfo" minOccurs="0" maxOccurs="unbounded">
              <annotation>
                <documentation>A snippet in the collection of snippits for this Section Detail.</documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ParentPath" type="cde:path" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>Defines the ParentPath for this SectionDetail.  It should only be empty or not exist if this is the root SectionDetail.</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <element name="SectionDetail" type="cde:sectionDetail">
    <annotation>
      <documentation>Represents an instance of a Section Detail published from Percussion</documentation>
    </annotation>
  </element>

  <complexType name="navTreeNode">
    <annotation>
      <documentation>
        Dynamic navigation controls of the CDE need to know if an element should be drawn in the navigation. If this is false, this element will not be drawn.
      </documentation>
    </annotation>
    <all>
      <element name="SectionName" type="string" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The name of the section. This name will be used in text based navigation tabs and as the alt text for image based navigation tabs.
          </documentation>
        </annotation>
      </element>
      <element name="HomeUrl" type="string" minOccurs="1"
        maxOccurs="1">
        <annotation>
          <documentation>
            The url of the default page of this navTreeNode
          </documentation>
        </annotation>
      </element>
      <element name="Children" type="cde:navTreeNodeCollection"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The immediate child navTreeNode elements of the navTreeNode
          </documentation>
        </annotation>
      </element>
      <element name="PathFragment" type="cde:pathFragment"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            The part of the path of the navTreeNode. E.G. for the node with the path /folder1/folder2, the value of this element would be '/folder2'
          </documentation>
        </annotation>
      </element>
      <element name="DynamicNavigation" type="cde:dynamicNavigation" maxOccurs="1" minOccurs="1"></element>
    </all>
  </complexType>

  <complexType name="navTreeNodeCollection">
    <annotation>
      <documentation>
        A collection of navTreeNode types
      </documentation>
    </annotation>
    <sequence>
      <element name="NavTreeNode" type="cde:navTreeNode" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>

  <simpleType name="pathFragment">
    <annotation>
      <documentation>A piece of a path.  E.G. for /folder1/folder2, the value of this for folder 2 is 'folder2', and for folder 1, 'folder1'.</documentation>
    </annotation>
    <restriction base="string">
      <pattern value="[a-zA-Z0-9\-_]+"></pattern>
    </restriction>
  </simpleType>

  <complexType name="dynamicNavigation">
    <all>
      <element name="ShowInNavigation" type="boolean"
        minOccurs="1" maxOccurs="1">
      </element>
      <element name="HoverImage" type="cde:path" maxOccurs="1"
        minOccurs="0">
        <annotation>
          <documentation>
            For Image based navigation this image should be used for the hover state.
          </documentation>
        </annotation>
      </element>
      <element name="OnImage" type="cde:path" maxOccurs="1"
        minOccurs="0">
        <annotation>
          <documentation>
            For Image based navigation this image should be used for the on state.
          </documentation>
        </annotation>
      </element>
      <element name="OffImage" type="cde:path" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>For Image based navigation this image should be used for the off state.</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <element name="NavTreeNode" type="cde:navTreeNode">
    <annotation>
      <documentation>Represents the root tree node published from Percussion.</documentation>
    </annotation>
  </element>

  <complexType name="pageTemplateCollection">
    <annotation>
      <documentation>Represents a CDE Page Template.  Contains all of the templates for the display versions of the CDE.</documentation>
    </annotation>
    <sequence>
      <element name="PageTemplateInfos">
        <complexType>
          <sequence>
            <element name="PageTemplateInfo" type="cde:pageTemplateInfo" minOccurs="0" maxOccurs="unbounded"></element>
          </sequence>
        </complexType>
      </element>
    </sequence>
    <attribute name="Name" type="string"></attribute>
  </complexType>

  <complexType name="pageTemplateInfo">
    <annotation>
      <documentation>Represents a CDE Page Template.</documentation>
    </annotation>
    <all>
      <element name="PageTemplatePath" type="cde:path"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The path of the ASPX for this page template.  This should be relative to the application root.</documentation>
        </annotation>
      </element>
      <element name="StyleSheets" type="cde:styleSheetCollection"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>The collection of CDE Stylesheets for this PageTemplateInfo.</documentation>
        </annotation>
      </element>
      <element name="Javascripts" type="cde:javascriptCollection"
        minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>The collection of CDE Javascripts for this PageTemplateInfo.</documentation>
        </annotation>
      </element>
    </all>
    <attribute name="DisplayVersion" type="cde:displayVersion">
      <annotation>
        <documentation>The display version this PageTemplateInfo is for.</documentation>
      </annotation>
    </attribute>
  </complexType>

  <complexType name="styleSheetInfo">
    <annotation>
      <documentation>Represents a Stylesheet for a page template for use by the CDE.</documentation>
    </annotation>
    <sequence>
      <element name="StyleSheetPath" type="cde:path">
        <annotation>
          <documentation>The path to the stylesheet relative to the CDE application root.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Beginning" type="string"></attribute>
    <attribute name="End" type="string"></attribute>
    <attribute name="Media" type="string">
      <annotation>
        <documentation>The media to which the style should be applied.</documentation>
      </annotation>
    </attribute>
  </complexType>

  <complexType name="JavascriptInfo">
    <annotation>
      <documentation>Represents a Stylesheet for a page template for use by the CDE.</documentation>
    </annotation>
    <sequence>
      <element name="JavascriptPath" type="cde:path">
        <annotation>
          <documentation>The path to the stylesheet relative to the CDE application root.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Beginning" type="string"></attribute>
    <attribute name="End" type="string"></attribute>
    <attribute name="Type" type="string"></attribute>
  </complexType>

  <complexType name="styleSheetCollection">
    <annotation>
      <documentation>Represents a collection of StyleSheetInfo elements.</documentation>
    </annotation>
    <sequence>
      <element name="StyleSheetInfo" type="cde:styleSheetInfo" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>An instance of a styleSheetInfo type for this Collection.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="javascriptCollection">
    <annotation>
      <documentation>Represents a collection of StyleSheetInfo elements.</documentation>
    </annotation>
    <sequence>
      <element name="JavascriptInfo" type="cde:JavascriptInfo" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>An instance of a styleSheetInfo type for this Collection.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <simpleType name="displayVersion">
    <annotation>
      <documentation>This type is an enumeration of different display versions of the CDE.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value = "Web"/>
      <enumeration value = "Print"/>
    </restriction>
  </simpleType>

  <complexType name="pageTemplateConfiguration">
    <annotation>
      <documentation>Represents all of the CDE Page Templates registered in the system. </documentation>
    </annotation>
    <sequence>
      <element name="PageTemplateCollections">
        <complexType>
          <sequence>
            <element name="PageTemplateCollection" type="cde:pageTemplateCollection" minOccurs="0" maxOccurs="unbounded"></element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <element name="PageTemplateConfiguration" type="cde:pageTemplateConfiguration"></element>

  <complexType name="alternateContentVersions">
    <annotation>
      <documentation>
        Defines a the alternate content versions of Page
        Assembly Instructions published from Percussion.These
        would be things like Email, Print, Files, etc...
      </documentation>
    </annotation>
    <all>
      <element name="IsPrintAvailable" type="boolean"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines if a alternate print preview version is
            available for this Page Assembly Instruction.
          </documentation>
        </annotation>
      </element>
      <element name="IsEmailAvailable" type="boolean"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines if this Page Assembly Instruction can be
            emailed.
          </documentation>
        </annotation>
      </element>
      <element name="IsShareBookmarkAvailable" type="boolean"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines if this Page Assembly Instruction can be
            shared.
          </documentation>
        </annotation>
      </element>
      <element name="IsMobileShareAvailable" type="boolean"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines if this Page Assembly Instruction can be
            shared on a mobile browser.
          </documentation>
        </annotation>
      </element>
      <element name="IsPublicArchive" type="boolean"
        minOccurs="1" maxOccurs="1">
        <annotation>
          <documentation>
            Defines if this Page Assembly Instruction is in
            the Public Archive.
          </documentation>
        </annotation>
      </element>
      <element name="OrderCopyURL" type="string"
        minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>
            Links to external page for downloading a free copy.
          </documentation>
        </annotation>
      </element>
      <element name="AltLanguage" type="string"
        minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>
            Language alternate Version of the page .
          </documentation>
        </annotation>
      </element>

      <element name="Files" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>A collection of zero or more files which are alternate content versions of this Page Assembly Instruction.  The MimeTypes of this collection should be unique. E.G. Only 1 PDF, Only 1 PPT.</documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>A collection of zero or more files which are alternate content versions of this Page Assembly Instruction.  The MimeTypes of this collection should be unique. E.G. Only 1 PDF, Only 1 PPT.</documentation>
          </annotation>
          <sequence>
            <element name="File" type="cde:alternateContentVersionFile" maxOccurs="unbounded" minOccurs="0">
              <annotation>
                <documentation>A file in the collection of files.</documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType>

  <complexType name="alternateContentVersionFile">
    <annotation>
      <documentation>
        Defines an alternate content version which is a file.
      </documentation>
    </annotation>
    <attribute name="Url" type="cde:path">
      <annotation>
        <documentation>The URL of the file.</documentation>
      </annotation>
    </attribute>
    <attribute name="MimeType" type="string">
      <annotation>
        <documentation>The MimeType of the file.</documentation>
      </annotation>
    </attribute>
  </complexType>

  <complexType name="module_PageOptionsBox">
    <annotation>
      <documentation>
        Defines the data element of a PageOptionsBox snippet
        control.
      </documentation>
    </annotation>
    <sequence>
      <element name="Title" type="string">
        <annotation>
          <documentation>
            The title of the Page Options Box.
          </documentation>
        </annotation>
      </element>
      <element name="PageOptions">
        <annotation>
          <documentation>The page options of this page options box.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element name="PageOption" type="cde:module_PageOptionsBox_PageOption" maxOccurs="unbounded" minOccurs="1"></element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="module_PageOptionsBox_PageOption">
    <annotation>
      <documentation>
        Defines a Page Option in the Page Options Box module.
      </documentation>
    </annotation>
    <all>
      <element name="CssClass" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>
            Defines the CSS class to be used for this page
            option.
          </documentation>
        </annotation>
        <simpleType>
          <restriction base="string"></restriction>
        </simpleType>
      </element>
      <element name="LinkText" type="string" maxOccurs="1"
        minOccurs="1">
        <annotation>
          <documentation>
            The text for the link for the page option.
          </documentation>
        </annotation>
      </element>
      <element name="WebAnalyticsFunction" type="string"
        maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>
            The javascript function to be called when a user
            clicks one of the page option links.
          </documentation>
        </annotation>
      </element>
      <element name="OptionType" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>
            The type of page option
          </documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="Link" />
            <enumeration value="Email" />
            <enumeration value="BookMarkShare" />
          </restriction>
        </simpleType>
      </element>
    </all>
    <attribute name="key" type="string">
      <annotation>
        <documentation>The key for this page option.  This will be used to match up which page options may be shown for the alternate content versions which are available for a Page Assembly Instruction.</documentation>
      </annotation>
    </attribute>
  </complexType>

  <element name="Module_PageOptionsBox" type="cde:module_PageOptionsBox">
    <annotation>
      <documentation>Defines an instance of a PageOptionsBox module.</documentation>
    </annotation>
  </element>

  <complexType name="module_TopicSearchCategory">
    <annotation>
      <documentation>
        Defines the data of a TopicSearchCategory Snippet
        Template Control. This represents the search box which
        is drawn on Topic Search Category page.
      </documentation>
    </annotation>
    <all>
      <element name="CategoryName" type="string" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>
            The name of the Topic Search Category to be
            rendered on the page.
          </documentation>
        </annotation>
      </element>
      <element name="TopicSearches" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>A collection of Topic Searches for this Topic Search Category</documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>A collection of Topic Searches for a Topic Search Category</documentation>
          </annotation>
          <sequence>
            <element name="TopicSearch" type="cde:module_TopicSearchCategory_TopicSearch" maxOccurs="unbounded" minOccurs="1">
              <annotation>
                <documentation>A Topic Search in the collection of topic searches.</documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType>

  <element name="Module_TopicSearchCategory"
    type="cde:module_TopicSearchCategory">
  </element>

  <complexType name="module_TopicSearchCategory_TopicSearch">
    <all>
      <element name="TopicSearchName" type="string" maxOccurs="1"
        minOccurs="1">
        <annotation>
          <documentation>
            The name of the Topic Search to be displayed.
          </documentation>
        </annotation>
      </element>
      <element name="MeSHQuery" type="string" maxOccurs="1" minOccurs="1"></element>
    </all>
    <attribute name="TopicSearchID" type="string">
      <annotation>
        <documentation>The ID of the Topic Search.  This should be the ID of the Topic Search Item in Percussion.</documentation>
      </annotation>
    </attribute>
  </complexType>

  <complexType name="promoURLMapping">
    <annotation>
      <documentation>
        Defines the mapping data elements for promo url. This element is the top level element of the
        promo url mapping.
      </documentation>
    </annotation>
    <all>
      <element name="PromoUrls">
        <annotation>
          <documentation>The collection element for the promoURL elements.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element name="PromoUrl" type="cde:promoURLMapping_promoURL" maxOccurs="unbounded" minOccurs="0"></element>
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType>

  <complexType name="promoURLMapping_promoURL">
    <annotation>
      <documentation>Describes the data elements for single promo url entity.</documentation>
    </annotation>
    <sequence>
      <element name="MappedTo" type="string" maxOccurs="1"
        minOccurs="1">
        <annotation>
          <documentation>
            The pretty url for which this promo url is mapped to. A request for a promo url is redirected to this mapped pretty url.
          </documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Name" type="string">
      <annotation>
        <documentation>
          This attribute is the name of the promoUrl, there can be more than one promoUrl for the same prettyUrl(mappedTo element).
        </documentation>
      </annotation>
    </attribute>
  </complexType>

  <element name="PromoUrlMapping" type="cde:promoURLMapping">
    <annotation>
      <documentation>Defines an instance of PromoUrlMapping.</documentation>
    </annotation>
  </element>

  <element name="Module_SearchBox" type="cde:module_SearchBox">
    <annotation>
      <documentation>Defines an instance of a SearchBox settings.</documentation>
    </annotation>
  </element>
  <complexType name="module_SearchBox">
    <annotation>
      <documentation>Defines all the elements which make up the properties for SearchBox</documentation>
    </annotation>
    <sequence>
      <element name="SearchType"  type="string" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>The type of search box, keyword, keywordate, date</documentation>
        </annotation>
      </element>
      <element name="Title" type="string" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>The title of the search box.</documentation>
        </annotation>
      </element>
      <element name="ActionUrl" type="string" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>The url to which the user input is submitted.</documentation>
        </annotation>
      </element>
      <element name="WebAnalyticsFunction" type="string" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>The web analytics javascript method that will be executed on the client side when the search button is clicked.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <element name="BestBetsCategory" type="cde:bestBetsCategory">
    <annotation>
      <documentation>.</documentation>
    </annotation>
  </element>
  <complexType name="bestBetsCategory">
    <annotation>
      <documentation>Defines the elements of the BestBets search result and elements needed by endeca.</documentation>
    </annotation>
    <all>
      <element name="CategoryId" type="string" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>
            The id which uniquely identifies the BestBets category.
          </documentation>
        </annotation>
      </element>
      <element name="CategoryName" type="string" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>Name of the category.</documentation>
        </annotation>
      </element>
      <element name="CategoryWeight" type="int" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation></documentation>
        </annotation>
      </element>
      <element name="Language" type="string" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation></documentation>
        </annotation>
      </element>
      <element name="IsExactMatch" type="boolean" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation></documentation>
        </annotation>
      </element>
      <element name="CategoryDisplay" type="string" maxOccurs="1" minOccurs="1">
        <annotation>
          <documentation>Contains the HTML that will be displayed for this BestBets category.</documentation>
        </annotation>
      </element>
      <element name="IncludeSynonyms" maxOccurs="1" minOccurs="1">
        <complexType>
          <sequence>
            <element name="Synonym" maxOccurs="unbounded" minOccurs="1">
              <complexType>
                <attribute name="IsExactMatch" type="boolean">
                  <annotation>
                    <documentation></documentation>
                  </annotation>
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ExcludeSynonyms">
        <complexType>
          <sequence>
            <element name="Synonym" maxOccurs="unbounded" minOccurs="1">
              <complexType>
                <attribute name="IsExactMatch" type="boolean">
                  <annotation>
                    <documentation></documentation>
                  </annotation>
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType>

  <complexType name="socialMetadata">
    <annotation>
      <documentation>
        Defines settings and veriables pertaining to social
        media, resharing, and comments.
      </documentation>
    </annotation>
    <all>
      <element name="IsCommentingAvailable" type="boolean"
        minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>
            Defines if commenting is available at this level of the site.
          </documentation>
        </annotation>
      </element>
      <element name="SocialMetaTags" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>A collection of zero or more meta tags for implementing various social media standards.</documentation>
        </annotation>
        <complexType>
          <annotation>
            <documentation>A collection of zero or more meta tags for implementing various social media standards.</documentation>
          </annotation>
          <sequence>
            <element name="SocialMetaTag" type="cde:socialMetaTag" maxOccurs="unbounded" minOccurs="0">
              <annotation>
                <documentation>A single meta tag in the overall collection.</documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType>

  <complexType name="socialMetaTag">
    <annotation>
      <documentation>
        Defines a single meta tag for use with social media standards.
      </documentation>
    </annotation>
    <attribute name="Type" type="cde:metaType" use="required">
      <annotation>
        <documentation>The type of the meta tag (name or property)</documentation>
      </annotation>
    </attribute>
    <attribute name="Id" type="cde:metaId" use="required">
      <annotation>
        <documentation>The name or property of the mime tag.</documentation>
      </annotation>
    </attribute>
    <attribute name="Source" type="cde:metaContentSource" use="required">
      <annotation>
        <documentation>The source of the tag's content.</documentation>
      </annotation>
    </attribute>
    <attribute name="Content" type="string" use="required">
      <annotation>
        <documentation>Either the content to use for the meta tag directly, or the name of the PageAssembly field to read, based on the Source attribute.</documentation>
      </annotation>
    </attribute>
    <attribute name="PrependHost" type="boolean">
      <annotation>
        <documentation>Flag to add the hostname to the beginning of the field, only used for url and literalUrl types.</documentation>
      </annotation>
    </attribute>
    <attribute name="AllowEmptyContent" type="boolean">
      <annotation>
        <documentation>Flag to allow empty content to generate a resulting meta tag.</documentation>
      </annotation>
    </attribute>
  </complexType>

  <simpleType name="metaType">
    <annotation>
      <documentation>The type of a meta tag.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="name"/>
      <enumeration value="property"/>
    </restriction>
  </simpleType>

  <simpleType name="metaContentSource">
    <annotation>
      <documentation>The source of the content for the meta tag.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="field"/>
      <enumeration value="literal"/>
      <enumeration value="url"/>
      <enumeration value="literalUrl"/>
    </restriction>
  </simpleType>

  <simpleType name="metaId">
    <annotation>
      <documentation>The name or property of the meta tag to be generated.</documentation>
    </annotation>
    <restriction base="string">
      <pattern value=".+" />
    </restriction>
  </simpleType>
  
</schema>